body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.jpg');
    background-position-x: center;
    background-position-y: center;
}

canvas{
    background-color: black;
}